<!--https://github.com/johnpapa/angular-styleguide#style-y032-->
<form ng-submit="vm.addParty()" class="form-inline party-form">
  <div class="form-group">
    <label for="exampleInputName2">Your mother loving Name</label>
    <input ng-model ="vm.newParty.name" type="text" class="form-control" id="exampleInputName2" placeholder="Your Mom">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Your Digits</label>
    <input ng-model ="vm.newParty.phone" type="text" class="form-control" id="exampleInputEmail2" placeholder="Hotline Bling">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">How many Peeps</label>
    <input ng-model ="vm.newParty.size"type="number" class="form-control" id="exampleInputEmail2" placeholder="Size of Party" required>
  </div>

  <button type="submit" class="btn btn-primary">Make Ressy Bro</button>
</form>

<table class="table table-striped table-borderd">
  <thead>
    <tr>
      <th>Done?</th>
      <th>Info</th>
      <th>Notified?</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tr ng-repeat="butts in vm.parties">
    <td>
      <button>Check box</button>
    </td>
    <td>
      <div><strong>{{ butts.name}} {{ butts.size }} jabronis</strong></div>
      <div>{{butts.phone}}</div>
    </td>
    <td>
      <div>{{ butts.notified ? 'Yes': 'No'}}</div>
    </td>
    <td>
      <button ng-click="vm.sendTextMessage(butts)" class="btn btn-success">Text me BRO!!</button>
      <button ng-click="vm.removeParty(butts)"  class="btn btn-danger">Remove me BRO!</button>
    </td>
  </tr>
</table>
